*{
    margin: 0px;
    padding: 0px;
}

/* Shared Styles */

body{

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main{
    /* max-width: 1140px; */
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0px 200px;
    align-items: center;
}
.Logo{ 

    color: Dark 01;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    

}
.menus{

    display: flex;
    list-style: none;
    margin-top: 20px;
    color: #474747;
    align-items: center;

    
}

.li{
    padding-left: 40px;
}

.a{

    text-decoration: none;
    color: black;
    font-weight: normal;
}

.orange{
    color: #FD6E0A;
}

.btn_primary{

    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 35px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    
}

.banner{

   padding: 30px 30px 0px 150px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}

.banner_pic{
    width: 550px;
    height: 640px;
}

.hi{

    font-size: 45px;
    color: #474747;
}

.banner_header{
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 500px;
}

.header_text{

    font-size: 18px;
    margin-bottom: 30px;

}

.btn{
    margin-left: 20px;
}

.about{
    margin: 114px 230px 130px 230px;
    padding: 110px;
    background: #ecdcd0;
}
.section_title{

    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
    

}

.section_description{
    color: #1b1b1b;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    color: #757575;

}

.about_info_container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
   
    
}

.about_info{
    margin-top: 10px;
    
}

.info_title{
    color: #757575;
}
.info_description{
    
    margin-top: 10px;
    font-weight: bold;
}

#what_i_do_des{
    padding: 30px 150px;
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-style: normal;

}

main > section{
    margin-top: 130px;
}

.skils_container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap:24px;
    margin: 0px 240px;
    
    
}
.skill{
    padding: 33px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: center;

}
.skill_description{
    color: #757575;
}

.resume_container{

    
    display: flex;
    gap: 50px;
    margin: 100px 240px 0px;
}
.resume_column_title{
    color: #474747;
    font-size: 30px;
    font-style: normal;

}
.resume_title_description{
    color: #757575;
    font-size: 16px;
    font-style: normal;

}

.resume_container hr{
    margin: 30px ;
}

.resume_title_info{
    
    margin-bottom: 20px;
    margin-top: 0;
}

.download_cv{
    margin-top: 50px;
    text-align: center;
}

.footer{
    display: flex;
    background: #bba291;
    padding: 130px 200px;
    margin-top: 100px;
    gap:117px;
}
.social_links{
    text-align: center;
    margin-top: 10px;
  
}
.social_links a{
    margin-right: 24px;
}

.footer_column{

    width: 50%;

}

.contact_form input[type="text"],input[type="email"],textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color:#757575;
    border: 0px;
    border-radius: 5px;
    width: 100%;
}
